
link
header {
        background-color: #373738;
        padding: 15px;
      }
      header ul {
        float: right;
        color: white;
      }
      header li {
        display: inline-block;
        padding: 0px 5px;
       
      }
      header p {
        display: inline-block;
      }

.inline-block {
        display:inline-block ;
vertical-align: top;

}
.logo {width: 50%;
padding: 1;}

.nav{width: 73%;
padding: 1%}

.navOptions{width:50%
}

.heroIMG {
        height: 800px;
        padding:25px;
        display: flex;
        justify-content: right;
}

ul{
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        list-style-type: none;
        padding-top: 5px;
        padding: auto;

    
    }


button{
        padding: 15px;
        background-color: #373738;
        color: white;
        font-size: 15px;
        border-radius: 4px;
        justify-content:bottom;
        align-items: baseline;
}
.content {
        max-width: 300px;
        margin: 0 auto;
        padding: 50px;
        background-color: #FFFFFF;
        text-align: center;
      }

footer {
        background-color: #373738;
        padding: 5px;
        color: white;
      }
      footer ul {
        list-style: none;
        padding-left: 5px;
      }
      footer li {
        display: inline-block;
        padding: 0px 7px;
      }